h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
    font-size: 150px;
    color: white;
    margin-top: 0.67em;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}

h5 {
    font-family: 'Lobster', cursive;
    font-size: 75px;
    color: white;
}

h6 {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: white;
}

.favorite-name {
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
    color: white;
}

.help-text {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 25px;
    color: #fffdfb;
}

#helpText {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 32px;
    color: #fffdfb;
}

p {
    font-family: 'Cabin', sans-serif;
    color: white;
}

body {
    background-color: #108a93;
    background-image: url("../img/name_background_20.png");
}

.logo-row-margin {
    margin-top: 100px;
}

.row-margin {
    margin-top: 0px;
}

.btn-larger {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.option-margin {
    margin-bottom: 25px;
}

#tween-container {
    transform: scale(0, 0);
    -ms-transform: scale(0, 0); /* IE 9 */
    -webkit-transform: scale(0, 0); /* Safari and Chrome */
    height: 0;
    background: #696969;
    background-color: rgba(71, 69, 69, 0.901961);
    border: solid 2px;
    border-radius: 20px;
    border-color: #ffffff;
    margin: 5px;
    padding: 5px;
    text-align: justify;
}

.sidebar {
    background: #696969;
    background-color: rgba(71, 69, 69, 0.901961);
    border: solid 2px;
    border-radius: 20px;
    border-color: #ffffff;
    margin: 5px;
    padding: 5px;
    text-align: justify;
    height: auto;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.display-name {
    border-color: #f5f5f5;
    border-style: solid;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.options-text {
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
    color: #a3a19f;
}

.my-fluid-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.favorite-tab {
    writing-mode: tb-rl;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(180deg);
    white-space: nowrap;
    display: block;
}

body {
    overflow-x: hidden;
}

#slideout {
    position: absolute;
    width: 280px;
    height: auto;
    top: 0%;
    right: -285px;
    padding-left: 20px;
    text-align: center;
}

#clickme {
    cursor: pointer;
    position: absolute;
    top: 200px;
    left: -50px;
    height: 20px;
    width: 20px;
}

#slidecontent {
    float: left;
    min-height: 240px;
}

.male {
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
    color: dodgerblue;
    display: block;
}

.female {
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
    color: pink;
    display: block;
}

.name-input-help {
    z-index: -1;
    position: absolute;
    top: 0;
    left: -1000px;
    padding-left: 0px;
    text-align: center;
}

.options-help {
    z-index: -1;
    position: absolute;
    top: 0px;
    left: -1000px;
    padding-left: 0px;
    text-align: center;

}

.favoritess-help {
    z-index: 2;
    position: absolute;
    top: 0px;
    left: -1000px;
    padding-left: 0px;
    text-align: center;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#favorite-list li .destroy {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    position: absolute;
    margin: auto 0;
    font-size: 22px;
    color: #fffaf1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

#favorite-list li .destroy:hover {
    text-shadow: 0 0 1px #000, 0 0 10px rgba(253, 0, 0, 0.80);
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
}

#favorite-list li .destroy:after {
    content: 'x';
}

#name-box {
    border-radius: 10px;
    display: inline-block;
    border: 2px solid #F7F5F5;
    background-color: aliceblue;
    padding-right: 5px;
    padding-bottom: 2px;

}

#name-input {
    background-color: transparent;
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
    color: #3d3d3d;
    border: none;
    position: relative;
    display: inline-block;
}

.inner-btn {
    margin-top: 8px;
}

#options-btn {
    margin-left: 5px;
}

