h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
    font-size: 150px;
    color: white;
    margin-top: 0.67em;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}

h5 {
    font-family: 'Lobster', cursive;
    font-size: 75px;
    color: white;
}

h6 {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: white;
}

.favorite-name {
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
    color: white;
}

p {
    font-family: 'Cabin', sans-serif;
    color: white;
}

body {
    background-color: #108a93;
}

.logo-row-margin {
    margin-top: 100px;
}

.row-margin {
    margin-top: 0px;
}

.btn-larger {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.option-margin {
    margin-bottom: 25px;
}

#tween-container {
    transform: scale(0, 0);
    -ms-transform: scale(0, 0); /* IE 9 */
    -webkit-transform: scale(0, 0); /* Safari and Chrome */
    height: 0;
    background: #696969;
    background-color: rgba(71, 69, 69, 0.901961);
    border: solid 2px;
    border-radius: 20px;
    border-color: #ffffff;
    margin: 5px;
    padding: 5px;
    text-align: justify;

}

.sidebar {
    background: #696969;
    background-color: rgba(71, 69, 69, 0.901961);
    border: solid 2px;
    border-radius: 20px;
    border-color: #ffffff;
    margin: 5px;
    padding: 5px;
    text-align: justify;
    height: auto;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.display-name {
    border-color: #f5f5f5;
    border-style: solid;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.my-fluid-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.favorite-tab {
    writing-mode: tb-rl;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    white-space: nowrap;
    display: block;
}

body {
    overflow-x: hidden;
}

#slideout {
    position: absolute;
    width: 280px;
    height: auto;
    top: 0%;
    right: -285px;
    padding-left: 20px;
    text-align: center;
}

#clickme {
    cursor: pointer;
    position: absolute;
    top: 200px;
    left: -50px;
    height: 20px;
    width: 20px;
}

#slidecontent {
    float: left;
}

.male {
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
    color: dodgerblue;
    display: block;
}

.female {
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
    color: pink;
    display: block;
}