<!DOCTYPE html>
<head>
    <title>Nameper, find that name!</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
    <link rel="stylesheet" href="css/custom.css">
    <!--[if IE]>
    <link href="css/iecustom.css" rel="stylesheet" type="text/css"/><![endif]-->


    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Cabin|Lobster' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap-select.css" type="text/css">

</head>
<body>
<script type="text/template" id="interaction-template">
    <div>
        <div class="row" id="nameInputRow">
            <div id="name-box" class="col-xs-offset-4 col-xs-4 pull-left">
                <div class="display-name" id="name-input"><label><%- name%></label></div>

                <button type="button" class="btn btn-default btn-sm pull-right inner-btn" id="options-btn">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm pull-right inner-btn" id="heart-btn">
                    <span class="glyphicon glyphicon-heart"></span>
                </button>
            </div>
        </div>
        <div class="row" name="optionsRow">
            <div class="col-xs-3"></div>
            <div class="col-xs-6" id="tween-container">
                <h6 id="tween-content" class="text-center option-margin">Options</h6>

                <div class="container">
                    <div class="row">
                        <div class="col-xs-6" style="display: inline-block;">
                            <div class="col-xs-4">
                                <label class="pull-right options-text">Time Interval: </label>
                            </div>
                            <div class="col-xs-6">
                                <select class="pull-left selectpicker show-tick show-menu-arrow"
                                        data-header='Send me a name every...'
                                        id="poll-picker">
                                    <option value="0">only when I click</option>
                                    <option value="1">1 second</option>
                                    <option value="2">2 seconds</option>
                                    <option value="5">5 seconds</option>
                                    <option value="10">10 seconds</option>
                                    <option value="20">20 seconds</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6" style="display: inline-block;">
                            <div class="col-xs-4">
                                <label class="pull-right options-text">Gender: </label>
                            </div>
                            <div class="col-xs-6">
                                <select class="selectpicker show-menu-arrow" multiple title='Choose a gender...or both!'
                                        id="gender-picker">
                                    <option value="boy">Boy</option>
                                    <option value="girl">Girl</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-margin" id="genBtnRow">
        <div class="col-lg-offset-3 col-lg-6 text-center">
            <button id="name-btn" class="btn btn-primary btn-lg">Fetch me a name!</button>
        </div>
    </div>
    </div>
</script>

<script type="text/template" id="favorites-template">
    <div id="slideout" class="sidebar text-center container" style="z-index: 3">
        <div id="clickme">
            <div id="posdiv" class="favorite-tab no-select">
                <p><h5 id="favs">Favorites</h5></p>
            </div>
        </div>
        <div id="slidecontent" class="col-lg-11">
            <ui style="list-style-type:none;" id="favorite-list"></ui>
        </div>
    </div>
</script>

<script type="text/template" id="favorite-template">
    <div>
        <span><label><%- name%></label><button class="destroy" style="left:100%"></button></span>

    </div>
</script>

<!--Logo div and insertion points for templates-->
<div class="my-fluid-container">
    <div>
        <span id="helpText" class="help-text no-select" style="cursor: pointer">Show Help</span>
    </div>
    <div class="row logo-row-margin no-select" id="logoRow">
        <div class="col-xs-12 text-center" id="logo">
            <h1 style="cursor: pointer;">Nameper</h1>

            <p class="lead">Random help with baby names...</p>
        </div>
    </div>
    <div class="container no-select" id="content-container"></div>
    <div class="container" id="favorites-container"></div>
</div>

<div class="name-input-help no-select" id="nameInputHelp">
    <div class="col-xs-12">
        <img src="img/help-arrow-right-white.png" style="text-align: right"/>

        <p class="help-text">Click the name<br>or click the heart on the right <br> to add the name to your
            favorites</p>
    </div>
</div>

<div class="options-help no-select" id="optionsHelp">
    <div class="col-lg-12">
        <img src="img/help-arrow-left-white.png" style="text-align: right"/>

        <p class="help-text">Click here to set options...</p>
    </div>
</div>

<div class="favoritess-help no-select" id="favoriteHelp">
    <div class="col-xs-12">
        <img src="img/help-arrow-right-white.png" style="text-align: right"/>

        <p class="help-text">View your <br> favorite names by clicking here</p>
    </div>
</div>


<!-- The Scriptions -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/vendor/bootstrap.js"></script>
<script src="js/vendor/bootstrap-select.js"></script>
<script src="js/vendor/modernizr-2.6.2.min.js"></script>
<script src="js/vendor/underscore.js"></script>
<script src="js/vendor/backbone.js"></script>
<script src="js/models/NameModel.js"></script>
<script src="js/views/MainView.js"></script>
<script src="js/animations/Swing.js"></script>

<!-- kick the tires and light the fires -->
<script>
    /***** LOGO STUFF *****/
        // Swing animation for the logo
    swing('#logo');
    // Swing again when clicked
    $('#logoRow').on('click', function () {
        swing('#logo')
    });

    /***** MAIN APPLICATION *****/
    var app = {};
    app.favorieView = new views.FavoritesView();
    app.nameView = new views.NameView();
    app.nameView.setView(app.favorieView);

    /***** FAVORITES STUFF *****/
    var sidebarOut = false;
    // Click listener for favorites slideout
    $('#clickme').mouseup(function (e) {
        if (sidebarOut) {
            TweenLite.to(slideout, 2, {right: -285, ease: Elastic.easeOut});
            sidebarOut = false;
        } else {
            TweenLite.to(slideout, 2, {right: 0, ease: Elastic.easeOut});
            sidebarOut = true;
        }
    });

    /***** HELP TWEENING ETC. *****/
    var helpout = false;

    // On mouseup, calculate where the help divs need to go and tween appropriately.
    $('#helpText').mouseup(function (e) {
        app.calculatePositionsAndHeight();
        if (!helpout) {
            $('#helpText').text('Hide Help');
            app.tween(true);
        }
        else {
            $('#helpText').text('Show Help');
            app.tween(false);
        }
    });

    // Tween function for all the help divs
    app.tween = function (openTween) {
        if (openTween) {
            TweenLite.to(nameInputHelp, 0.5, {left: app.position.left - app.nameInputHelpWidth * .75, top: app.position.top - app.nameInputHelpHeight * .25});
            TweenLite.to(optionsHelp, 0.5, {top: app.optionsPosition.top - app.optionsHeight * .38, left: app.optionsPosition.left - app.optionsWidth * .1});
            TweenLite.to(favoriteHelp, 0.5, {left: app.favoritePosition.left - app.favoritsHelpWidth * .7, top: app.favoritePosition.top - app.favoritsHelpHeight * .65});
            helpout = true;
        } else {
            TweenLite.to(nameInputHelp, 0.5, {left: -1000, top: 0});
            TweenLite.to(optionsHelp, 0.5, {left: -1000, top: 0});
            TweenLite.to(favoriteHelp, 0.5, {left: -1000, top: 0});
            helpout = false;
        }
    }

    // Get the positions of the elements we want to tween to. Also get heights and widths of the divs that we are
    // tweening so that we can alter the final positions.
    app.calculatePositionsAndHeight = function () {
        app.position = $('#name-input').offset();
        app.nameInputHelpWidth = $('#nameInputHelp').width();
        app.nameInputHelpHeight = $('#nameInputHelp').height();

        app.optionsPosition = $('#options-btn').offset();
        app.optionsHeight = $('#optionsHelp').height();
        app.optionsWidth = $('#optionsHelp').width();

        app.favoritePosition = $('#clickme').offset();
        app.favoritsHelpHeight = $('#favoriteHelp').height();
        app.favoritsHelpWidth = $('#favoriteHelp').width();

    }

    // When the window resizes we need to recalculte the tweening, move divs back to starting positions.
    $(window).resize(function () {
        $('#nameInputHelp').css({left: -1000, top: 0});
        $('#optionsHelp').css({left: -1000, top: 0});
        $('#favoriteHelp').css({left: -1000, top: 0});
        $('#helpText').text('Show Help');
        helpout = false;
    });
</script>
</body>
</html>
